BODY 
{
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 10px; 
    color: #3d3d3d;
    font-family:  Helvetica, Tahoma, Verdana, Arial;
}

a.viewImage {
    display: block;
    font-size: 18px; 
    color: black;
    font-weight: bold; 
}

span.stats {
    vertical-align:middle; 
    text-align: center; 
    white-space: nowrap; 
    color: black; 
    font-weight: normal; 
    font-size: 15px;
}


div.oparea {
    height:700px; 
    width: 900px; 
    float: left; 
    padding: 0; 
    margin: 0; 
    overflow: hidden; 
}

button.opHandler {
    height: 40px;
    width: 120px;
    background-color: #3d3d3d;
    color: white;
}
.opHandler:hover { background: #383; }

button.argHandler {
    height: 40px;
    width: 120px;
    background-color: #3d3d3d;
    color: white;
}
.argHandler:hover { background: #383; }

button.convert {
    height: 40px;
    width: 120px;
    background-color: #3d3d3d;
    color: white;
}
button.secondaryload {
    height: 30px;
    width: 120px;
    background-color: #013220;
    color: white;
}
select.regionpicker {

}



A.mainpagereturnlink { 
    vertical-align: middle; 
    color: #25383C; 
    font-size: 15px; 
    font-weight: bold; 
    margin-top: 15px; 
    margin-bottom: 25px; 
    text-decoration: underline}


input.load { font-size: 10px; }
input.selection { font-size: 10px; }

#ID_MAIN_CONTAINER
{
    width: 900px; 
    height: 2000px;
    overflow:hidden;
    position:relative;
}

#ID_MAIN_SLIDER 
{ 
    position:absolute;
    left:0px;
    width: 1800px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}

#busydivsmall
{
    display: none;
    width: 60px;
    height: 25px;
    border: 0px solid;
    border-color: gray;
}







